---
layout: 'base-blog.njk'
---
<section class="container">
            <div class="site-content">
                
                

                <div class="posts">
                    <h2>{{titulo}}</h2>
                    <img src="{{image}}">                    
                    {{ content | safe }}

                </div>
                {% include 'asaide.njk'%}
        </section>