---
layout: 'base-blog.njk'
---
<section class="container">
    <div class="site-content">
        <div class="posts">
            
            <img class="img-principal" src="{{image}}">
            <h2 class="title">{{titulo}}</h2>                    
            {{ content | safe }}
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        {% include 'asaide.njk'%}
    </div>
</section>