                <aside class="sidebar">


                    <div class="category">
                        <h2>Category</h2>
                        <ul class="category-list">
                            {%-for post in collections.post-%}
                                <li class="list-items">
                                    <a href="#">{{post.data.category}}</a>
                                    <span>(01)</span>
                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>

                    <div class="popular-post">
                        <h2>Post Recientes</h2>
                        {%-for post in collections.post-%}
                            <div class="post-content">
                                <div class="post-image">
                                    <div>
                                        <img src="{{post.data.image}}" class="img-recent" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{ post.data.date}}</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="{{post.url}}">{{post.data.titulo}}</a>
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>

                    <div class="newsletter">
                        <h2>Newsletter</h2>
                        <div class="form-element">
                            <input type="text" class="input-element" placeholder="Email">
                            <button class="btn form-btn">Subscribete</button>
                        </div>
                    </div>

                    <div class="popular-tags">
                        <h2>Temas Populares</h2>
                        <div class="tags flex-row">
                            <span class="tag">Software</span>
                            <span class="tag">technology</span>
                            <span class="tag">travel</span>
                            <span class="tag">illustration</span>
                            <span class="tag">design</span>
                            <span class="tag">lifestyle</span>
                            <span class="tag">love</span>
                            <span class="tag">project</span>
                        </div>
                    </div>
