<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>jmxs.dev()</title>
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./css/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            {% include 'header.njk'  %}
        </header>
        <main>
            <section class="site-title">
                <div class="site-background">
                    {% include 'home.njk' %} 
                    <button href="#Articulos" class="btn">Explorer</button>
                </div>
            </section>
                    
        {{ content | safe }} 
        </main>
        <footer class='footer'>
            {% include 'footer.njk' %}
        </footer>    
        <script src="./js/Jquery3.4.1.min.js"></script>
        <script src="./js/main.js"></script>
    </body>
</html>
