<div class="container">
            <div class="about-us">
                <h2>Quien soy</h2>
                <p>Me llamo Jesus Mora y soy un apasionado desarrolador de software 💙. Me dedico actualmente al frontend, pero encontraras aca articulos sobre software y tecnologia en general 🚀💙💻.</p>
            </div>
            <div class="newsletter">
                <h2>Newsletter</h2>
                <p>Inscribete y mantente actualizado cuando publique un nuevo articulo</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
            <div class="instagram" >
                <h2>Proyectos</h2>
                <div class="flex-row">
                    <img src="./assets/instagram/thumb-card3.png" alt="insta1">
                    <img src="./assets/instagram/thumb-card4.png" alt="insta2">
                    <img src="./assets/instagram/thumb-card5.png" alt="insta3">
                </div>
                <div class="flex-row">
                    <img src="./assets/instagram/thumb-card6.png" alt="insta4">
                    <img src="./assets/instagram/thumb-card7.png" alt="insta5">
                    <img src="./assets/instagram/thumb-card8.png" alt="insta6">
                </div>
            </div>
            <div class="follow" >
                <h2>Sigueme</h2>
                <p>En mis redes sociales</p>
                <div>
                    <i class="fab fa-github"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-whatsapp"></i>
                </div>
            </div>
        </div>
        
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2022 All rights reserved | made by 
                <a href="https://github.com/jesusalbertokiz">jmxs.dev()</a>
            </h4>
        </div>
        
<div class="move-up">
   <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
</div>