<nav class="nav">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="#">jmxs.dev()</a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="#">Inicio</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Categorias</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Blog</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Acerca de mi</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Contactame</a>
                    </li>
                </ul>
            </div>
            <div class="social text-gray">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </di>
</nav>
