---
title: 'hola'
layout: 'base.njk'
---

<section class="container">
    {% include 'carousel.njk' %}
</section>

<section class="container">
    <div class="site-content">
        {% include 'blog.njk' %}
    </div>
</section>